
/*=====================ALL==========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a{
    text-decoration: none;
}

*,*::before,*::after{
    box-sizing: border-box
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-550%);
        opacity: 0;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideFromTop {
    animation: 1.3s ease-out 0s 1 slideInFromTop;
    transition: transform .2s;
}

.slideFromRight {
    animation: 1.3s ease-out 0s 1 slideInFromRight;
    transition: transform .2s;
}

.slideFromLeft {
    animation: 1.3s ease-out 0s 1 slideInFromLeft;
    transition: transform .2s;
}

.btn {
    transition: transform .2s;
}

.btn:hover , .grow:hover{
    transform: scale(1.05);
}


*::selection {
    background-color: #ffe20aa9;
    color: #000000;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #212529;
}
::-webkit-scrollbar-thumb {
    background: #FFE30A;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(137, 139, 15);
}

@font-face {
    font-family: 'rob';
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'mont';
    src: url(../font/Montserrat-Regular.ttf);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'mont', sans-serif!important;
}

p,a,li,button,span,label,td,th,legend{
    font-family: 'rob', sans-serif!important;
}



.slideFromTop {
    animation: 1.3s ease-out 0s 1 slideInFromTop;
    transition: transform .2s;
}

.slideFromRight {
    animation: 1.3s ease-out 0s 1 slideInFromRight;
    transition: transform .2s;
}

.slideFromLeft {
    animation: 1.3s ease-out 0s 1 slideInFromLeft;
    transition: transform .2s;
}

.btn {
    transition: transform .2s;
}

.btn:hover , .grow:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.navmarge{
    margin-top: 60px;
}

body{
    background-color: #000000;
}

.clear{
    clear: both;
}


/*==================cookie popup====================*/

#cookie-modal-overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.541);
}

#cookie-modal-conteneur {
    position: relative;
    background-color: #474747;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

#cookie-modal-title{
    margin-bottom: 5px;
}

#cookie-modal-body{
    margin-top: 10px;
    margin-bottom: 10px;
}

#cookie-modal-footer{
    gap: 10px;
    display: flex;
    justify-content: flex-end;
}

#cookie-modal-footer button{
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#acceptCookies {
    background-color: #FFE30A;
}

#disableCookies {
    background-color: #f44336;
}


@media only screen and (max-width: 768px) {

    #cookie-modal-conteneur {
        width: 90%;
    }
}

/*=====================Recherches Articles==========================*/

#recherche-conteneur{
    display: flex;
}

#toggleForm{
    display: none;
}

#recherche-img{
    right:10px;
    top:130px;
    width: 50px;
    height: 50px;
    padding: 6px;
    background-color: #FFE30A;
    border-radius: 25px;
    position: fixed;
}

#searchForm {
    display: none;
}

#toggleForm:checked ~ #searchForm {
    display: block;
    position: fixed;
}

.myformcheck {
    display: none;
}

.myformlabel {
    color: white;
}

.myformcheck:checked + .myformlabel {
    background-color:#FFE30A!important;
}


/*=====================NAV==========================*/
header{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 5px;
    z-index: 2;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 50px;
    margin-left: 5px;
}

.menu-toggle span {
    height: 3px;
    width: 24px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.menu-toggle.cross span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
}

.menu-toggle.cross span:nth-child(2) {
    width: 20px;
}

.menu-toggle.cross span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
}


.navbar {
    display: flex;
    height: 100%;
    margin-left: 30px;
}

.navbar>ul {
    list-style: none;
    display: flex;
}

.navbtn{
    padding: 5px 10px;
    transition: all 0.3s ease;
    align-self: center;
}

.sousmenu{
    display: none;
    position: absolute;
    list-style: none;
    width: max-content;
    padding: 10px;
    margin-left: -20px;
    color: #ffffff;
    flex-direction: column;
    opacity: 0;
    border-radius: 0 0 20px 20px;
    transition: all 0.3s ease;
}

nav ul li h4{
    width: fit-content;
}

li:hover .sousmenu {
    display: block;
    opacity: 1;
    background-color: #000000;
    color: #ffffff;
    transition: all 0.3s ease;
}

.navbtn a{
    text-decoration: none;
    color: #ffffff;

}

.sousmenu .navbtn.active a{
    color: #FFE30A;
}

.navbtn.active>a>h4, .navbtn.active>h4{
    color: #FFE30A;
    border-top: #FFE30A solid 3px;
}

.navbtn h4:hover {
    color: #FFE30A;
    transition: ease 0.7s;
}

.navbtn:hover>h4 {
    color: #FFE30A;
    transition: ease 0.7s;
}

.sousmenu .navbtn a{
    color: #ffffff;
}

.sousmenu .navbtn:hover a{
    color: #FFE30A;
    transition: ease 0.7s;
}

#conteneur-lien {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 50% ;
    transition: all 0.7s ease;
    margin-right: 30px;
}

#conteneur-lien:hover{
    background-color: #FFE30A;
    transition: all 0.7s ease;
}

#conteneur-lien:hover #nav-profil-img {
    transition: all 0.7s ease;
    filter: brightness(0);
}

#nav-profil-img {
    width: 50px;
    border-radius: 50% ;
    transition: all 0.7s ease;
}

#conteneur-lien.active{
    background-color: #FFE30A;
    transition: all 0.7s ease;
}

#conteneur-lien.active #nav-profil-img{
    transition: all 0.7s ease;
    filter: brightness(0);
}


@media only screen and (max-width: 930px) {
    .menu-toggle {
        display: flex;
    }

    h4{
        font-size: x-large;
        text-align: center;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #000000d3;
        z-index: 2;
        transition: all 0.3s;
        margin: 0;
    }

    .navbar>ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        height: 100%;
        padding: 0;
        margin: 0;
        margin-top: 40px;
    }


    .navbar.show {
        display: flex;
        height: 100vh;
        overflow-y: auto;
        transition: all 0.3s;
    }

    .sousmenu{
        display: block;
        opacity: 1;
        position: relative;
        width: auto;
        margin-left: 0;
        text-align: center;
    }

    .sousmenu .navbtn{
        margin-top: 30px;
    }

    nav ul li h4{
        width: 100%;
    }

    #conteneur-lien {
        margin-right: 5px;
    }

}
/*=====================FOOTER==========================*/
footer{
    margin-top: 40px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

footer>p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*=====================HOME==========================*/

#home-conteneur{
    background-color: #000000;
}

#home-contenu-main-aside{
    display: flex;
    background-color: #000000;
    padding: 0px 40px 0px 40px;
    color: #ffffff;
    gap: 60px;
    min-height: auto;
}

#home-conteneur-h1{
    display: flex;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

#home-h1{
    font-size:2.5em;
}

#home-h1 span{
    color: #FFE30A;
    font-family: 'mont', sans-serif;
}

#home-main{
    display: flex;
    flex-direction: column;
    width: 110%;
}

#home-conteneur-card{
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home-card-categories{
    display: flex;
    background-color: #ffffff;
    text-decoration: none;
    padding: 10px;
    padding-left: 10px;
    padding-right: 20px;
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow:  10px 10px 10.4px 0px rgba(255, 255, 255, 0.25);
    box-shadow:  10px 10px 10.4px 0px rgba(255, 255, 255, 0.25);
}



.home-card-categories-img{
    width: 115px;
    height: 115px;
    border-radius: 5px;
}

.home-card-categories-text{
    display: flex;
    color: #000000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 75%;
    margin: 0 auto 0 auto;
}

#home-aside{
    margin-top: 40px;
    height: 100%;
}

#home-aside-conteneur-actu{
    background-color: #474747;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow:  10px 10px 10.4px 0px rgba(255, 255, 255, 0.25);
    box-shadow:  10px 10px 10.4px 0px rgba(255, 255, 255, 0.25);
}

#home-aside-actu-h2{
    margin-top: 20px;
    margin-bottom: 40px;

}

#home-aside-actu-h2>a{
    padding: 10px 20px;
    color: #000000;
    background-color: #FFE30A;
    border-radius: 10px;
}

#home-aside-actu-conteneur-video{
    padding:20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
}

#home-aside-actu-h3-video{
    margin-bottom: 30px;
}

#home-aside-actu-h4-video{
    margin-bottom: 10px;
}

#home-aside-actu-video{
    border-radius: 20px;
    height: 250px;
    width: 90%;
}

.home-aside-actus{
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}
.home-aside-actus-h3{
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.home-aside-actus-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home-aside-actus-lien{
    text-align: center;
    text-decoration: underline;
    color: #FFE30A;
    margin-bottom: 20px;
    margin-top: 20px;
}

.home-aside-actus-p{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


#home-aside-whoarewe-conteneur{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 175px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    text-align: center;
    perspective: 1000px;
}

#home-aside-whoarewe-inner {
    background-color: #FFE30A;
    -webkit-box-shadow:  10px 10px 10.4px 0px rgba(247, 251, 179, 0.25);
    box-shadow:  10px 10px 10.4px 0px rgba(247, 251, 179, 0.25);
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

#home-aside-whoarewe-conteneur:hover #home-aside-whoarewe-inner {
    transform: rotateY(180deg);
}
/*
#home-aside-whoarewe-conteneur:hover #home-aside-whoarewe-front {
    opacity: 0;
} */

#home-aside-whoarewe-front, #home-aside-whoarewe-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility:hidden;
}

#home-aside-whoarewe-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

#home-aside-whoarewe-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
    padding: 40px;
}


@media only screen and (max-width: 768px) {
    #home-conteneur-h1{
        width: 50%;
    }
    #home-h1{
        font-size:1.5em;
    }
    #home-contenu{
        display: block;
        padding : 0;
    }
    #home-main{
        display: block;
        width: 100%;
    }

    #home-aside{
        display: block;
        border-radius: 0px;
        width: 100%;
    }

    #home-aside-conteneur-actu{
        display: block;
        width: 100%;
        padding: 20px 0px 20px 0px;
        border-radius: 0px;
    }

    .home-card-categories{
        border-radius: 0px;
    }

    #home-contenu-main-aside{
        padding: 0;
        display: block;
    }

    #home-aside-actu-conteneur-video{
        border-radius: 0px;
    }

    .home-aside-actus{
        border-radius: 0px;
    }

    #home-aside-whoarewe-conteneur{
        width: 100%;
        height: 300px;
    }

    #home-aside-whoarewe-inner {
        border-radius: 0px;
    }

}

/*====================ACTUALITY========================*/

#actuality-main{
    padding: 20px 40px;
}

.actualite-conteneur-articles{
    background-color: #888;
    color: #000000;
    padding: 10px 60px 60px 60px;
    margin: 30px 0 30px 0px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.actuality-conteneur-iframe{
    overflow: hidden;
    padding-bottom:56.25%;
    position:relative;
    height: 0;
}

.actualite-img-articles{
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);

    height:75%;
    width:75%;
    position:absolute;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
}
.actualite-titre-articles{
    text-align: center;
    margin: 20px;
    border-radius: 0;
}
.actualite-texte-articles{
    margin: 20px auto;
    text-align: center;
    border-radius: 0;
}

.actualite-lien-articles{
    text-align: center;
    width: 100%;
}

.actualite-lien-articles>a{
    color: #FFE30A;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {

    #actuality-main{
        padding: 10px 0px;
    }

    .actualite-conteneur-articles{
        padding: 10px;
        border-radius: 0;
    }

    .actualite-img-articles{
        width:100%;
        height:100%;
    }
}

/*====================CRYPTO========================*/

#crypto-main{
    background-color: #000000;
    color: #ffffff;
    padding: 40px 80px 40px 80px;
    min-height: calc(100vh - 130px);
}

#crypto-conteneur-titreimg{
    color: #ffffff;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 40px;
}

#crypto-img-entete{
    border-radius: 50%;
    width: 125px;
}

#crypto-h1{
    color: #ffffff;
}

#crypto-h1 span{
    color: #FFE30A;
    font-family: 'mont', sans-serif;
}

.crypto-conteneur-articles{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 60px 60px 60px;
    margin: 30px 0 30px 0px;
    border-radius: 30px;
}

.crypto-titre-articles{
    text-align: center;
    margin: 20px;
}

.crypto-conteneur-bas-articles{
    border-top: #000000 solid 3px;
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.crypto-img-textes-articles{
    width: auto;
}

.crypto-conteneur-img-articles{
    margin: 20px auto;
}

.crypto-img-articles{
    border-radius: 20px;
}

.crypto-texte-articles{
    margin: 20px auto;
}

.articles-btn-quiz{
    display: flex;
    flex-direction: column;
    color: #000000;
    background-color: #FFE30A;
    padding: 7px 20px;
    margin: 10px 0;
    border-radius: 5px;
    width: min-content;
    float: right;
}


/*====================TEMPS REEL========================*/

#temps-main{
    color: #FFFFFF;
    padding: 10px 20px;
    min-height: calc(100vh - 130px);
}

#temps-titre-conteneur{
    display: flex;
    align-items: center;
    gap: 20px;
}

#temps-titre-conteneur>img{
    border-radius: 50% ;
    width: 100px;
    height: 100px;
}

#temps-graphics-conteneur{
    margin-top: 10px;
    background-color: #474747;
    padding: 30px;
    border-radius: 10px;
}

#temps-graphics-conteneur>select{
    border-radius: 5px;
}

/*====================PROFIL========================*/

#profil-main{
    background-color: #000000;
    color: #000000;
    padding: 40px 80px 40px 80px;
    min-height: calc(100vh - 130px);
}

#profil-first-h2{
    margin-bottom: 20px;
}

#profil-second-h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

#profil-niveau-conteneur{
    display: flex;
    gap: 40px;
    background-color: #474747;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}

#profil-niveau-choix{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#profil-niveau-choix>form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

#profil-niveau-choix>form>div{
    display: flex;
    gap: 20px;
}

#profil-niveau-choix>form>div select{
    border-radius: 5px;
    padding: 2px 5px;
    border: none;
    box-shadow: none;
}

#profil-niveau-choix>form>button{
    width: 70%;
    background-color: #FFE30A;
    color: #000000;
    padding: 10px ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

table.profil-tab {
    border: 2px solid #000000;
    background-color: #FFFFFF;
    width: 50%;
    text-align: left;
    border-collapse: collapse;
}
table.profil-tab td, table.profil-tab th {
    border: 1px solid #000000;
    padding: 6px 10px;
}
table.profil-tab tbody td {
    font-size: 13px;
    color: #000000;
}
table.profil-tab thead {
    background: #FFE30A;
    color: #000000;
    border-bottom: 2px solid #000000;
}
table.profil-tab thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 2px solid #000000;
}
table.profil-tab thead th:first-child {
    border-left: none;
}

table.profil-tab tfoot td {
    font-size: 14px;
}
table.profil-tab tfoot .links {
    text-align: right;
}
table.profil-tab tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

#profil-btn-suppcookie-conteneur{
    background-color: #f44336;
    border: none;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#profil-modal-suppcookie-overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.541);
}

#profil-modal-suppcookie{
    position: relative;
    background-color: #474747;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

#btn-supp-cookie-ever{
    background-color: #f44336;
    padding: 5px 20px;
    border: none;
    color: #000000;
    border-radius: 10px;
}

#btn-cancel-suppcookie{
    background-color: #FFE30A;
    border: none;
    color: #000000;
    padding: 5px 20px;
    border-radius: 10px;
}

#profil-buttons-choix{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

@media only screen and (max-width: 768px) {

    #profil-main{
        padding: 40px 0px;
        min-height: calc(100vh - 130px);
    }

    #profil-niveau-conteneur{
        display: block;
        border-radius: 0px;
        width: 100%;
    }

    #profil-niveau-choix{
        width: 100%;
        display: flex;
    }

    #profil-niveau-choix>form>div{
        flex-direction: column;
    }

    #profil-niveau-choix>form{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
    }

    table.profil-tab {
        width: 100%;
    }

    #profil-main h2{
        text-align: center;
    }

    #profil-btn-suppcookie-conteneur{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

}

/*=====================================================*/
/*=====================ADMIN===========================*/
/*=====================================================*/

/*================LOGIN=====================*/
#login-profil{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#profil-btn-accueil{
    background-color: #FFE30A;
    width: max-content;
    border-radius: 5px;
    color: #000000;
    z-index: 100;
    padding: 10px;
    margin: 20px;
}

.box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 420px;
    background: #474747;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#FFE30A,#FFE30A);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#FFE30A,#FFE30A);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #212529;
    z-index: 10;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
}

.form1{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #000000;
    z-index: 10;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
}

.form h2{
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox{
    position: relative;
    width: 300px;
    margin-top: 25px;

}

.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    letter-spacing: 0.05em;
    z-index: 10;

}

.inputBox label{
    color: #FFFFFF;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background: #FFE30A;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
    height: 44px;
}

.links{
    display: flex;
}

.links a{
    font-size: 1em;
    color: #FFE30A;
    text-decoration: none;
    margin: 10px;
}

.links a:hover
{
    color: #FFE30A;
}

#login-btn-connexion{
    border: none;
    outline: none;
    background: #FFE30A;
    padding: 11px 25px;
    width: auto;
    margin: 20px 0;
    border-radius: 4px;
    cursor: pointer;

}

/*================REGISTER=====================*/

#register-main{
    padding: 10px 20px;
    min-height: calc(100vh - 130px);
}

#register-h1{
    color: #FFFFFF;
    margin: 10px 0 20px 20px;
}

#register-conteneur{
    background-color: #474747;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

#register-conteneur>form div{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

#register-conteneur>form>div input{
    border-radius: 5px;
    width: 25%;
}

#register-conteneur>form>div:last-child {
    border-radius: 5px;
    width: auto;
}

#register-conteneur>form>div:last-child>input {
    border-radius: 5px;
    background-color: #FFE30A;
    padding: 2px 5px;
    width: 15%;
}

@media screen and (max-width: 768px) {
    #register-main{
        padding: 10px 0px;
    }

    #register-conteneur{
        border-radius: 0;
    }

    #register-conteneur>form>div input{
        width: 100%;
    }

    #register-conteneur>form>div:last-child>input {
        width: 50%;
    }
}

/*================UPDATE=====================*/

#update-main{
    min-height: calc(100vh - 130px);
    display: grid;
    flex: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vh 40vh;
    align-self: center;
    height: auto;
}

.tab{
    background-color:#FFE30A;
    margin: 30px 40px;
    border-radius: 40px;
    margin-bottom: 10px;
    box-shadow:25px 25px 40px #464331;
    height: auto;
    padding: 5px;
}

.tab h2{
    text-align: center;
}
/*
.update-tab-contenu{
    display: flex;
    flex-direction: column;
} */

.update-tab-liens{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.update-tab-liens img{
    width: auto;
    height: 28vh;
}

.update-tab-liens a{
    align-self: end;
    margin: 20px 5px;
    padding: 7px;
    color: #FFFFFF;
    height: fit-content;
    background-color: #474747;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    #update-main{
        display: block;
    }

    .tab{
        margin: 20px 0;
        border-radius: 0px;
    }

    .update-tab-liens{
        flex-direction: column ;
    }

    .update-tab-liens a{
        margin-left: auto;
        margin-right: auto;
    }

    .update-tab-liens img{
        display: flex;
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .update-tab-liens:nth-child(1){
        order: 2;
    }

    .update-tab-liens:nth-child(2){
        order: 1;
    }

}

/*================INDEX (articles,quiz,actuality,users delete)=====================*/

.index-main{
    padding: 20px 40px;
    min-height: calc(100vh - 130px);
}

.index-title{
    color: #FFFFFF;
    margin: 20px;
}

.index-btn-new{
    background-color: #FFE30A;
    color: #000000;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.index-conteneur-table{
    background-color: #888;
    padding: 10px;
    border-radius: 5px;
}

.index-table-th-td{
    padding: 5px 10px;
}

.index-table-thead>tr>*>*{
    color: #FFE30A;
}

.actions>a{
    color: #FFE30A;
}

.index-paginator{
    color: #FFFFFF;
    margin-left: 10px;
}

.index-paginator>ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

.index-paginator>ul>li>a{
    color: #FFE30A;
}

/*================ADD ARTICLES=====================*/

#addarticles-main{
    color: #FFFFFF;
    padding: 20px 40px;
    min-height: calc(100vh - 130px);
}

#addarticles-conteneur{
    display: flex;
    color: #000000;
    background-color: #888;
    border-radius: 10px;
    padding: 10px;
}

#addarticles-add-conteneur{
    width: 50%;
    padding: 10px 20px;
}

#addarticles-add-actions{
    color: #FFE30A;
}

#addarticles-add-action-conteneur{
    margin-bottom: 10px;
}

#addarticles-add-content-conteneur{
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
}

#addarticles-add-content-title>div{
    display: flex;
    flex-direction: column;
}

#addarticles-add-content-title>div input{
    width: 52%;
    border-radius: 5px;
    margin: 5px 0;
    padding: 3px;
}

#addarticles-add-edit-css-title-btn{
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px 5px 0;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

#addarticles-css-title{
    border-radius: 5px;
    padding: 3px;
}

#addarticles-add-content-content>div{
    display: flex;
    flex-direction: column;
}

#addarticles-add-content-content>div textarea{
    
    border-radius: 5px;
    margin: 5px 0;
    padding: 3px;
}

#boldButton{
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px 5px 0;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

#underlineButton{
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px 5px 0;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

#addarticles-edit-css-content-btn{
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px 5px 0;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

#addarticles-css-content{
    border-radius: 5px;
    padding: 3px;
}

#addarticles-add-content-options>div{
    display: flex;
    flex-direction: column;
}

#addarticles-add-content-options>div select{
    width: 20%;
    border-radius: 5px;
    margin: 5px 0;
    padding: 3px;
}

#addarticles-add-content-options>div input{
    border-radius: 5px;
    margin: 5px 0;
}

#addarticles-edit-content-img-btn{
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px 5px 0;
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

#addarticles-css-img{
    border-radius: 5px;
    padding: 3px;
}

#addarticles-add-content-btn-add{
    color: #000000;
    background-color: #FFE30A;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

#addarticles-prev-conteneur{
    width: 50%;
    padding: 20px;
}

#addarticles-prev-title{
    text-align: center;
}

#addarticles-prev-title hr{
    border-color: #000000;
    margin-top: 10px;
}